@font-face {
    font-family: 'Margarett';
    src: url('../fonts/Margarett.woff') format('woff');
}

@font-face {
    font-family: 'Geometos';
    src: url('../fonts/Geometos Rounded.woff') format('woff');
}

h-1 {
    position: relative;
    font-family: Margarett;
    font-size: 13.0vw;
    color: rgb(255, 255, 255);
}

h-2 {
    position: relative;
    font-family: Geometos;
    font-size: 3.0vw;
    color: rgb(255, 255, 255);
}

.coral-1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-10%, -50%);
    z-index: 3;
}